// Section Features styles

.lnd-features {
	display: flex;
	justify-content: space-between;
	padding-top: 14rem;
	padding-bottom: 14rem;
	background-color: white;

	@media (max-width: 414px) {
		justify-content: center;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (max-width: 768px) {
			width: 30%;
		}
		@media (max-width: 414px) {
			width: 75%;
		}
	}

	&__warranty,
	&__calendar {
		@media (max-width: 414px) {
			margin-bottom: 10rem;
		}
	}

	&__icon {
		margin-bottom: 2.5rem;
	}

	&__item-heading {
		@extend %heading_level_4;
		@extend %heading_dark;
		// margin-bottom: 2.5rem;
		text-align: center;
	}
}
