// Section Banner with Form styles

.lnd-form-banner {
	padding-top: 7rem;
	padding-right: 6rem;
	padding-bottom: 7rem;
	padding-left: 6rem;
	background-image: url(../img/photo-banner-form.min.jpg);
	background-image: -webkit-image-set(url(../img/photo-banner-form.min.jpg) 1x, url(../img/photo-banner-form@2x.min.jpg) 2x);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	@media (max-width: 1024px) {
		padding-left: 3rem;
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		@media (max-width: 1024px) {
			width: 55%;
		}
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__icon {
		margin-bottom: 2.5rem;
	}

	&__text {
		@extend %text_intro;
		@extend %text_light;
		&:first-of-type {
			margin-bottom: 1rem;
		}
		&:last-of-type {
			margin-bottom: 4rem;
		}
	}

	// Form
	&__form {
		width: 100%;
	}

	&__inputs {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__label-phone {
		width: 28rem;
		margin-right: 3rem;
		@media (max-width: 768px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 3rem;
		}
	}

	&__phone {
		@extend .lnd-input_light;
		&::placeholder {
			color: $color-grey-light;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__submit {
		margin-bottom: 2rem;
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__submit-button {
		@extend %button_light;
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__personal-data {
		@extend %text_light;
	}
}
