// Section Testimonials styles

.lnd-testimonials {
	display: flex;
	padding-top: 20rem;
	padding-bottom: 14rem;
	justify-content: space-evenly;
	background-color: white;

	@media (max-width: 414px) {
		flex-wrap: wrap;
	}
}

// Testimonial card
.lnd-testimonial {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 30%;
	padding-right: 2rem;
	padding-bottom: 4rem;
	padding-left: 2rem;
	border-radius: 0.5rem;
	background-color: $color-grey-lightest;
	&:last-of-type {
		@media (max-width: 768px) {
			display: none;
		}
	}
	&:first-of-type {
		@media (max-width: 414px) {
			margin-bottom: 15rem;
		}
	}

	@media (max-width: 768px) {
		width: 40%;
	}
	@media (max-width: 414px) {
		width: 80%;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 100%;
		margin-bottom: 3rem;
	}

	&__avatar {
		width: 10rem;
		margin-top: -5rem;
		border-radius: $radius;
	}

	&__date {
		font-size: 1.5rem;
		line-height: 1;
		color: $color-grey;
		text-align: right;
	}

	&__heading {
		@extend %heading_level_4;
		@extend %heading_dark;
		margin-bottom: 1rem;
	}

	&__text {
		@extend %text_regular;
		@extend %text_dark;
	}
}
